@import url('https://fonts.googleapis.com/css?family=Roboto');

/*This applies from 0px to 600px --> MOBILE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: rgba(69, 134, 219, 0.3);
}

body {
	/* background: darksalmon; */
	font-family: 'Roboto', sans-serif;
  color: #141414;
  background-color: rgba(69, 134, 219, 0.3);
}

.container {
  display: flex;
}

header {
display: flex;
flex-direction: column;
justify-content: space-between;
  height: 265px;
  background-color: rgba(69, 134, 219, 0.3);
  /* background: url('./images/100bill.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0; */
  }

.mardikian {
   line-height: normal !important;
   color: black;
   font-size: xx-large;
   font-weight: bold;
   background-color: rgba(69, 134, 219, 0.9);
   margin: 2px  ;   
   border-radius: 5px;
   padding: 9px;
   text-align: center;
   box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.5);
   
    
}

.ticker{
  border-radius: 20px;
  /* margin-top: 3px; */
  padding: 0 0 auto 0;
  opacity: 0.9;
}


.searchForm{   /* this is the serch form*/
    opacity: 0.9;
    float: right;
    /* margin: 3px ; */
    border-radius: 20px;
    align-self: flex-end;
    /* height: 25%; */
    position: relative;
    top:Opx;
    z-index: 1;
    }

.enter{
  display: inline-block;
padding: 10px;
font-size: large;
border-radius: 20px;
outline-style: none; /* this make that the line around the inmput box disapears*/

}



.searchButton {
border: #141414 solid 2px;
background-color: rgb(224, 127, 127);
padding: 10px;
font-size: large;
border-radius: 20px;
outline-style: none;
box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.5);
}

.searchButton:hover{
    color: white;
    border: white solid 2px;
}
.searchButton:active{
    color: white;
    background-color: black;
}
/* THE NAVIGATOR */
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  opacity: 0.9;
  z-index: 200;
  /* margin-top: 3px */
  
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 12px;
  color: white;
  text-align: center;
  padding: 12px 10px;
  text-decoration: none;
  z-index: 200;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  z-index: 200;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 12px;
  border: none;
  outline: none;
  color: white;
  padding: 10px 10px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  z-index: 200;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:rgba(69, 134, 219, .8);
  z-index: 200;
}


/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(69, 134, 219, .2);
  z-index: 200;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 9px 9px;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 200;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  display: block;
  background-color: rgba(69, 134, 219, .3);
  z-index: 200;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  z-index: 200;
} 
/* THE END OF THE NAVIGATOR */

section {
  padding: 20px;
  height: 450px;
  background: url('./images/nyc.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.graphic{
opacity: 0.9;
display: flex;
flex-direction: column;
width: 90%;
height: 90%;
margin: auto auto auto auto;
padding: 20px 0 0 0 ;
position:relative;
}



#gif {
  display: flex;
  opacity: 0.7;  
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: url('./images/chart.gif') no-repeat center center;
  -webkit-background-size: center;
  -moz-background-size: center;
  -o-background-size: center;
  background-size: center;  
}


#map{
width: 300%;
}

aside {
   
  color: black;
  height: 470px;
  background: url('./images/companies.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 25px solid rgba(100, 152, 219, 0.4);
  }

  table {
    
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    margin: auto auto auto auto;
    padding: 15px 0 0 0 ;
    }
    table h1 {
        margin: 5px;
    }
.tickerStock h1{
  margin: auto auto 20px auto;
}
.line h1{
  margin: auto auto 20px auto;
}



 #giphy{
  background: url('./images/giphy.gif') no-repeat center center;
-webkit-background-size: center;
-moz-background-size: center;
-o-background-size: center;
background-size: contain; 
} 

.investing{
opacity: .8;

}

footer {
  display: flex;
  flex-direction: column;
  /* background: maroon; */
  height: 100px;
  background-color: rgba(69, 134, 219, 0.3);
  /* background: url('./images/Stack.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  }

.facebook {
  display: flex;
  float: right;
  align-items: flex-end;
  width: 35px;
  height: 35px;
  padding: 5px;
  margin-top: 5px;
  
  
}



/* The code for the marquee news */
.blue {
  background:  rgba(69, 134, 219, 1);
}

.news {
  box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.5);
  width: 99.5%;
  margin: auto;
  overflow: hidden;
  border-radius: 4px;
  padding: 3px;
  -webkit-user-select: none;
  z-index: 0;
  opacity: .9;
}

.news span {
  display: flex;
  float: left;
  color: #fff;
  padding: 9px;
  /* position: relative; */
  /* top: 1%; */
  box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4);
  font: 16px 'Raleway', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  cursor: pointer;
  z-index: 0;
  opacity: 1;
}

.text1{

box-shadow:none !important;
width: 98%;
}

/* The end code for the marquee news */

/* This applies from 600px onwards --> DESKTOP */
@media (min-width: 600px) {
  	html,
    body {
      background: white;
    }
  
  section,
  aside {
    display: inline-block;
    float: left;
    height: 60%;
  }

  table {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin: 20px auto auto auto;
    }

  section {
    width: 75%;
  }
  
 
  aside {
    width: 25%;
}
  
  footer {
    clear: both;
  }
}